<!doctype html>
<html class="no-js" lang="">
  <%- include(process.cwd() + '/app/partials/head', {title: 'Sam King Designs - Capital One'}) %>
  <body class="capitalone">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%- include(process.cwd() + '/app/partials/nav') %>
    <main id="panel">
      <%- include(process.cwd() + '/app/partials/sam-hero', {
        heroSrc: '/images/capital-one/Cap1-hero-1.png',
        title: 'Capital One',
        subTitle: 'Visual Design'
      }) %>
      <section class="container main-container">
        <%- include(process.cwd() + '/app/partials/section-header', {headline: 'Introduction'}) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In February 2017 I joined Capital One as a visual designer on capitalone.com. My team focuses on the homepage, header, and navigation of capitalone.com with the long-term goal of creating a design system for the site as a whole.
              <br>
              <br>
              We work closely with product, engineering, and other teams responsible for specific lines of business to create user-centered modular solutions based in research. I draw from insights gained from user research, design research, A/B testing, and workshops we conduct with other teams at Capital One.
              <br>
              <br>
              My day-to-day includes creating pixel-perfect mockups to hand off to developers, presenting findings and recommendations to other teams, and creating style guides to aid in future design systems. I also help conduct user research and user experience testing, and create designs for A/B testing to gain insight about the site and move towards a modern, human, and friendly design that is the face of Capital One.
              <br>
              <br>
              Below are a collection of projects I’ve worked on since joining Capital One.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/jump-to', {
          sections: [
            {
              name: 'Style Guides',
              link: '#style-guides'
            },
            {
              name: 'Login Badges',
              link: '#login-badges'
            },
            {
              name: 'Product Finder Widgets',
              link: '#product-finder-widgets'
            },
            {
              name: 'Homepage and Navigation Redesign',
              link: '#home-and-nav-redesign'
            }
          ]
        }) %>
        <%- include(process.cwd() + '/app/partials/section-header', {headline: 'Homepage Hero Banner Style Guides'}) %>
        <div class="row hidden-md hidden-lg">
          <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            <%- include(process.cwd() + '/app/partials/carousel', {
              id: 'mobile-capitalone-carousel-1',
              items: [
                '/images/capital-one/Cap1-image-2.jpg',
                '/images/capital-one/Cap1-image-3.jpg',
                '/images/capital-one/Cap1-image-4.jpg',
              ],
              caretLeft: '/images/wine/carousel/fvwines-leftcaret-desktop.png',
              caretRight: '/images/wine/carousel/fvwines-rightcaret-desktop.png'
            }) %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="row hidden-xs hidden-sm big-m">
              <div class="col-xs-4">
                <img class="img-responsive" src="/images/capital-one/Cap1-image-2.jpg" />
              </div>
              <div class="col-xs-4">
                <img class="img-responsive" src="/images/capital-one/Cap1-image-3.jpg" />
              </div>
              <div class="col-xs-4">
                <img class="img-responsive" src="/images/capital-one/Cap1-image-4.jpg" />
              </div>
            </div>
          </div>
        </div>
        <div class="image-subtitle">
          Variety of Original Homepage Banners
        </div>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Until recently, Capital One’s homepage didn’t have full-time designers assigned to it. Instead, it was treated as a platform for marketers to promote new products, deals, or content. The banners on the homepage are created mainly by marketers whose goal is to increase revenue through advertising of specific products.
              <br>
              <br>
              The homepage is now going through a shift, in both the teams working on it and its priorities. Our team of digital designers on the homepage is a little over a year old, and we’ve been working to shift the homepage away from a place of broad selling to a place of customized experiences. That said, there’s still a need by other teams to promote their products on the homepage and the sounding-board it provides. The homepage is high-traffic, and thus many promotions are very lucrative.
              <br>
              <br>
              I was tasked with creating style guides for these promotions in order to help guide the design of them while also encouraging further monetary growth. These style guides have templatized the banners, thus aiding engineers who had, up until this point, been creating customer banners. I created two versions of this style guide for the top banner area of the homepage; more are on the way as the homepage evolves and as we incoporate more sophisticated designs into the overall patterns present on the homepage.
              <br>
              <br>
              These style guides were informed by past research our team has conducted, with users in interviews and other exercises, and on the live site via A/B testing. These style guides indicated a shift in imagery, from more posed, “Photoshopped” imagery to lifestyle, human imagery and messaging. These guides have also been in conjunction with technical changes on the site and moving towards a more thoroughly responsive site.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Style Guide Version 1'}) %>
        <div class="small-title">
          Text Layouts & Specifications
        </div>
        <div class="hidden-md hidden-lg">
          <%- include(process.cwd() + '/app/partials/carousel', {
            id: 'mobile-capitalone-carousel-2',
            items: [
              '/images/capital-one/Cap1-image-5.jpg',
              '/images/capital-one/Cap1-image-6.jpg',
              '/images/capital-one/Cap1-image-7.jpg',
              '/images/capital-one/Cap1-image-8.jpg',
            ],
            caretLeft: '/images/wine/carousel/fvwines-leftcaret-desktop.png',
            caretRight: '/images/wine/carousel/fvwines-rightcaret-desktop.png'
          }) %>
        </div>
        <%- include(process.cwd() + '/app/partials/non-carousel-row', {
          items: [
            {
              src: '/images/capital-one/Cap1-image-5.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-6.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-7.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-8.jpg'
            }
          ]
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p>
              I designed the style guide as a system of elements and layouts, in order to make it easy for marketing teams and other designers to design off of this guide, as well as add ease for engineers in developing their own template.
              <br>
              <br>
              These layouts were designed so teams submitting designs can specifiy which layout they want to use, and engineers can quickly implement them and launch new banners and tests
            </p>
          </div>
        </div>
        <div class="small-title">
          Photography & Treatments
        </div>
        <div class="hidden-md hidden-lg">
          <%- include(process.cwd() + '/app/partials/carousel', {
            id: 'mobile-capitalone-carousel-3',
            items: [
              '/images/capital-one/Cap1-image-9.jpg',
              '/images/capital-one/Cap1-image-10.jpg',
              '/images/capital-one/Cap1-image-11.jpg',
              '/images/capital-one/Cap1-image-12.jpg',
            ],
            caretLeft: '/images/wine/carousel/fvwines-leftcaret-desktop.png',
            caretRight: '/images/wine/carousel/fvwines-rightcaret-desktop.png'
          }) %>
        </div>
        <%- include(process.cwd() + '/app/partials/non-carousel-row', {
          items: [
            {
              src: '/images/capital-one/Cap1-image-9.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-10.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-11.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-12.jpg'
            }
          ]
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p>
              I was specific in the photography and treatment of the banners, and included breakdowns of what kind of imagery to use, treatments to use and not to use, as well as the responsive behavior on mobile and how to create mobile-friendly imagery.
              <br>
              <br>
              By being specific about the imagery, the banners can now feel more coherent and closer to one encompassing brand story of Capital One as a whole, as opposed to separate teams creating separate assets that are vaguely related to each other.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Style Guide Version 2'}) %>
        <div class="small-title">
          New Layouts & Photography Specifications
        </div>
        <div class="hidden-md hidden-lg">
          <%- include(process.cwd() + '/app/partials/carousel', {
            id: 'mobile-capitalone-carousel-4',
            items: [
              '/images/capital-one/Cap1-image-13.jpg',
              '/images/capital-one/Cap1-image-14.jpg',
              '/images/capital-one/Cap1-image-15.jpg',
              '/images/capital-one/Cap1-image-16.jpg',
            ],
            caretLeft: '/images/wine/carousel/fvwines-leftcaret-desktop.png',
            caretRight: '/images/wine/carousel/fvwines-rightcaret-desktop.png'
          }) %>
        </div>
        <%- include(process.cwd() + '/app/partials/non-carousel-row', {
          items: [
            {
              src: '/images/capital-one/Cap1-image-13.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-14.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-15.jpg'
            },
            {
              src: '/images/capital-one/Cap1-image-16.jpg'
            }
          ]
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p>
              In September 2017, we tested new designs of the sign in badge. The current winner is the variation of the badge on the right side of the screen, over a fullbleed background image.
              <br>
              <br>
              I updated style guide to include new templates and guidance for this new design, changing the number of text layouts, the text sizing at desktop and tablet, and the image requirements. Because of the grid and the homepage’s responsiveness, only imagery that acts as a background was initially accepted.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Style Guide: Next Steps'}) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Since designing the second style guide for the homepage, I worked closely with our engineering team to dig into the existing grid on the homepage and see how to incorporate more flexibility in designs with this new layout of the sign in badge and fullbleed banner.
              <br>
              <br>
              The grid is made up of a sixteen column system where individual columns bind together to act as a few large columns. After talking with the engineers, I was able to work out new designs for this space that accomodate a focal point in imagery, as currently the fullbleed image acts only as a background.
              <br>
              <br>
              I created a rudimentary style guide and shared it with a partner design team; they were able to work with it to create new banners that both fit within our guidelines of human and personal, while also promoting their new product in a fun and interesting way.
              <br>
              <br>
              Additionally, I modified the sign in badge to better fit within the grid structure at both desktop and tablet, and I’ve proposed future tablet A/B tests to see how the sign in badge can be shifted at tablet sizing.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-header', {headline: 'Homepage Sign In Badge'}) %>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-17.jpg'
        }) %>
        <div class="image-subtitle">
          Capital One’s Original Sign In Badge
        </div>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              The sign in badge on the homepage of capitalone.com is crucial. Thousands of people sign in on the homepage everyday, and it is a high-traffic, high-importance widget integral to the customer experience. Over 80% of Capital One’s homepage traffic goes straight to the sign in badge.
              <br>
              <br>
              I worked in conjuction with another team in Richmond, VA to redesign the sign in experience in order to update the look and feel of the badge, as well as create a better design solution that alowed for further flexibility with the rest of the page.
              <br>
              <br>
              I worked on many iterations of badges for the sign in, and we ultimately A/B tested three variateions: two I created, and one another designer on the other team created. The test outcomes proved to be complicated, as each experience produced mixed results of increased or decreased time to sign in and increased and decreased revenue per visitor (brought in by users clicking on and acquiring a product showcased on the homepage).
              <br>
              <br>
              Below are a few of my iterations of the sign in experience. I was constricted to keeping the dropdown menu (due to technical limitations) and keeping a fully exposed sign in experience. My team is continuing to test the placement and design on the sign in badge to evolve the design and ensure the placement is best for the user’s total experience on the homepage.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Sign In Badges'}) %>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-18.png'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p>
              I audited other leading financial institutions’ sign in badges to get a sense of what the industry was using in terms of sizing (height of the badge, text and form field sizing, etc.) as well as language. Some badges were more personalized and friendly, while others were more simple.
              <br>
              <br>
              I also designed badges with and without form field labels, and took into account the links that needed to be present with each drop down (corresponding to each line of business at Capital One).
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Tested Sign In Variations'}) %>
        <div class="hidden-md hidden-lg">
          <%- include(process.cwd() + '/app/partials/carousel', {
            id: 'mobile-capitalone-carousel-5',
            items: [
              '/images/capital-one/Cap1-image-19.jpg',
              '/images/capital-one/Cap1-image-20.jpg',
              '/images/capital-one/Cap1-image-21.jpg'
            ],
            caretLeft: '/images/wine/carousel/fvwines-leftcaret-desktop.png',
            caretRight: '/images/wine/carousel/fvwines-rightcaret-desktop.png'
          }) %>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="row hidden-xs hidden-sm big-m">
              <div class="col-xs-4">
                <div class="img-title">Sign In Badge: Below Fullbleed Banner</div>
                <img class="img-responsive" src="/images/capital-one/Cap1-image-19.jpg" />
              </div>
              <div class="col-xs-4">
                <div class="img-title">Sign In Badge: Above Fullbleed Banner</div>
                <img class="img-responsive" src="/images/capital-one/Cap1-image-20.jpg" />
              </div>
              <div class="col-xs-4">
                <div class="img-title">Sign In Badge: Updated, Over Fullbleed, On Right</div>
                <img class="img-responsive" src="/images/capital-one/Cap1-image-21.jpg" />
              </div>
            </div>
          </div>
        </div>
        <div class="row p-row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p>
              We conducted a live test on the homepage using the top two designs and a variation designed by my teammate of the bottom sign in badge design. In the test itself, we tested variations with the grey icon and “Sign In” text; we’re looking to test future iterations of greeting language, especially as personalization technology further enhanced.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-header', {headline: 'Product Finder Widgets: Sketches'}) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              My team led a workshop across design and product teams at Capital One to ideate and co-create on product finder widget concepts. We sought to create a widget that would live on the homepage and would allow users to connect with the right product based on needs and goals, instead of impersonal promotions.
              <br>
              <br>
              In leading a two-day co-creation workshop, we pooled our knowledge and resources to come up with new concepts to place on the homepage and help guide Capital One’s customers and prospective customers.
              <br>
              <br>
              In preparation for the workshop, I created low-fidelity designs of potential widgets. These were to help guide the participants in the workshop and have them work off of my designs to create more in-depth designs which we then tested with in-home participants the following day.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-22.png'
        }) %>
        <%- include(process.cwd() + '/app/partials/section-header', {headline: 'Homepage Redesign: First Variations'}) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Our team’s major initiative is to redesign Capital One’s homepage and navigation/ header, with the overarching goal of creating a design system for capitalone.com. Below are the initial designs of the homepage and navigation my team and I have been working on. The third set of designs are for the page the module with the mad-libs style drop-downs leads to; we call this the “Guidance Page” for what it aims to do for users.
              <br>
              <br>
              These designs are a culmination of efforts and learnings; we’ve been working in closely off of the insights we’ve gained from A/B tests, user research, and co-creation workshops we’ve hosted across multiple lines of business with stakeholders from design, product, and engineering.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Homepage Explorations'}) %>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-23.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              We’ve sought to create homepage designs that better reflect the goals Capital One has for its customers and users, that is, to make banking a better place by changing the way we interact with it. We’re striving to create a homepage that shows Capital One’s best qualities: how we care for people in times of need, how we can help provide financial guidance throughout stages of life, and that we’re humans, too.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-24.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In this version, we explored highlighting the award-winning technical aspects of Capital One, as well as bringing Capital One’s stories of humanity up into that top hero space. We sought to welcome users to the space, bringing to mind a similar experience of being greeted when walking through the door of a traditional brick-and-mortar bank.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Sub-Navigation Explorations'}) %>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-25.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              My team and I created a plethora of sub-navigation designs to explore new visual ways to lay out the navigation information. In this design, designed a lefthand column of hot links, with top actions to help propel users to their destination. On the right, I designed a featured ad that was pertinent to the navigation menu.
              <br>
              <br>
              I also explored many visual styles for the header itself: all caps, focus colors versus underlining, lighter greys versus blacks, etc. For these examples I chose a more playful visual styling of the header, with a bright blue semi-circle to indicate a highlighted section.
              <br>
              <br>
              All content is based upon monthly of research my team has conducted throughout a variety of methods; the “meganav” style of navigation is also based upon research findings.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-26.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              I explored pulling out top rated products and placing them along the bottom of the navigation, with prominent calls to action to help users quickly navigate, with the other tasks separated into three columns.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-27.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              I explored featuring specific products and allowing users to check off multiple and apply for more than one at once. For this variation, I forsaw testing this concept with a mix of products from across lines of business, such as credit cards, bank accounts, and investment accounts.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Guidance Page Explorations'}) %>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-28.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              For the guidance page, I’m seeking to find a balance between content and products. From our research, we learned users expect to see products, but wish for them to be in context.
              <br>
              In this variation, I explored transforming the guidance page into something of a learning experience. I broke down the topic, “improving credit”, into smaller, digestible chunks. Visually, I created movement down the page to keep users invested even with a more complicated topic. I pulled in products at the end of their learning journey, tying the two together.
              <br>
              Towards the bottom of the page, I included customer testimonials that will lead to larger case studies of real people’s stories on how they achieved financial milestones.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-29.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In this version, I explored condensing the learning content into carousel slides that have more information within them. This was designed to help users dig into the content and learn about what they needed to do. The icons at the top are bright and friendly, and introduce the user to the topic with sound-bites on the most important aspects.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/capital-one/Cap1-image-30.jpg'
        }) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In this version, I focused more upon products and which ones help customers with specific needs. I pulled the learn content down to the bottom of the page and bubbled more products up to the top.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Guidance Page: Next Steps'}) %>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              I’m continuing to iterate on this guidance page to balance the learning content with the products, finding that symbiosis between the two. Visually speaking, I’m creating variations that speak to different arcs of visual styling that we could potentially take Capital One.
              <br>
              <br>
              As I iterate further, I’m seeking to fully align and streamline the link between this page and the homepage. I’m also considering questions regarding user intent and expectation, where this page lives outside of the homepage, and how users might interact with the page as they put new inputs into the drop-down fields and refresh their results.
              <br>
              <br>
              I’m working closely with our content designer on our team, and the two of us are brainstorming the ways the content and visual design will complement one another.
            </p>
          </div>
        </div>
        <%- include(process.cwd() + '/app/partials/section-header', {headline: 'Check Out Others'}) %>
        <div class="portfolio-link-grid big-m">
          <a href="/kiva" class="portfolio-link kiva">
            <h1>Kiva</h1>
            <h3>UX Design & Research</h3>
          </a>
          <a href="/fvwines" class="portfolio-link fvwines">
            <h1>FV Wines</h1>
            <h3>UI & UX Design</h3>
          </a>
          <a href="/spore" class="portfolio-link spore">
            <h1>Spore</h1>
            <h3>UI & UX Design</h3>
          </a>
        </div>
      </section>
      <%- include(process.cwd() + '/app/partials/footer') %>
    </main>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-89985795-1');ga('send','pageview');
    </script>

    <!-- build:js /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js /scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>